* {
  margin: 0;
}

.app {
  /* text-align: center; */
  padding: 20px;
  /* background: #FFECD6; */
  background: #CE5A67;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

/* Home */
.home {
  text-align: center;
  /* padding: 10px; */
}

.home_heading {
  /* color:#CE5A67; */
  display: flex;
  color: #F4BF96;
  font-size: 5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .home_heading {
    font-size: 2rem;
  }
}

.home_text {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #F4BF96; */
}

/* Send Post */
.post {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.post_textarea {
  width: 400px; 
  padding: 10px;
  max-height: 50px;
  background: #FCF5ED;
  overflow: auto;
  resize: none;
  border-radius: 20px;
}

.post_textarea::-webkit-scrollbar {
  width: 0.5em; 
}
.post_textarea::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.post_textarea:focus {
  outline: none;
  border: 0px solid #FCF5ED;
}


/* FCF5ED */
/* F4BF96 */
/* CE5A67 */
/* 1F1717 */

/* Cards */
.cardbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  width: 300px;
  min-height: 100px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

/* nav */
.nav_head{
  color:#F4BF96;
  font-size: 1.5rem;
}


@media (max-width: 600px) {
  .post_textarea {
    width: 100%;
    max-height: 100px;
  }
  .nav_head{
    display: none;
  }
  .home_text {
    font-size: 10px;
  }
  

}